<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.whiteleaf03.api.mapper.UserInterfaceRecordMapper">
    <select id="selectLeftNumByUserIdAndInterfaceId" resultType="java.lang.Long">
        SELECT leftNum
        FROM windy_api.user_interface_record
        WHERE userId = #{userId} AND interfaceId = #{interfaceId};
    </select>

    <update id="updateLeftNumByUserIdAndInterfaceId">
        UPDATE windy_api.user_interface_record
        SET leftNum = leftNum - 1
        WHERE userId = #{userId} AND interfaceId = #{interfaceId};
    </update>
</mapper>